
@import "../../shared/styles/settings/colors";

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: $light_grey;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

@media (max-width: 520px) {
  .navigation {
    display: flex;
  }
}