
@import "../../shared/styles/settings/colors";

.navigation {
  height: 100%;
  width: 12rem;
  padding: 1rem .4rem .4rem .4rem;
  box-sizing: border-box;
  border-right: .1rem solid $grey;
  background-color: $grey;
}

@media (max-width: 520px) {
  .navigation {
    display: none;
  }
}